*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  text-align: center;
  background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
}

.hero-image{
    margin: auto 0;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    opacity: 40%;
}

.challenges{
    display: block;
    margin: 150px;
    font-style: italic;
    background-color: gray;
    background: linear-gradient(rgb(0, 204, 78), rgb(218, 254, 11), rgb(255, 23, 2));
    border-radius: 40% 40% 0% 0%;
    opacity: 70%;
}

#menu-modal{
  background: linear-gradient(rgb(0, 204, 78), rgb(218, 254, 11), rgb(255, 23, 2));
}

.modal{
  background-color:rgba(0, 0, 0, 0.884);
  color: #ffffff;
}

.submit{
  width: 200px;
  height: 80px;
  background-color: rgb(45, 0, 75);
  color: rgba(227, 228, 235, 0.747);
  box-shadow: indianred;
  border-radius: 50px;
}

.submit:hover{
  width: 205px;
  height: 85px;
  background-color: red;
  color: rgba(227, 228, 235, 0.747);
  box-shadow: gold;
  border-radius: 50px;
}

hr{
  height: 10px;
  background-color:rgb(45, 0, 75);
  border-radius: 50%;
}

.welcome{
  border-radius: 50%;
}

#setting{
  width: 80px;
  height: 80px;
  font-size: 20px;
  background-color: rgb(2, 2, 2);
  color: rgba(227, 228, 235, 0.747);
  box-shadow: indianred;
  border-radius: 100%;
}

#setting:hover{
  width: 85px;
  height: 85px;
  background-color: red;
  color: rgba(227, 228, 235, 0.747);
  box-shadow: gold;
  border-radius: 100%;
}